<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="TravelEdgeContext" connectionString="Data Source=(local);Initial Catalog=TravelEdge;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="TravelEdgeContext" connectionString="Data Source=GALE-3932014394\SQLEXPRESS;Initial Catalog=TravelEdge;Persist Security Info=True;User ID=sa;Password=P@ssw0rd123" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-UI-20151103105015;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-UI-20151103105015.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApiKey" value="gfhpht2ffsfejd88g7pcnexe" />
    <add key="SharedSecret" value="e7Af9xbEtm" />
    <add key="ENVIRONTMENT" value="TEST" />
    <add key="TEST" value="https://api.test.hotelbeds.com/hotel-api" />
    <add key="LIVE" value="https://api.hotelbeds.com/hotel-api" />
    <add key="DEVELOPMENT" value="http://localhost:8181" />
    <!-- Logging -->
    <add key="TE.Common.Logging.ProviderLogFileLocationBase" value="C:\Logz" />
    <add key="TE.Common.Logging.ProviderPayloadLoggingInclude" value="*" />
    <add key="TE.Common.Logging.ProviderPayloadLoggingExclude" value="ADX" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Logz\API\Api.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="25" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value=" DB " />
        <acceptOnMatch value="false" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %identity %-5level - %message %exception%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="SQLLogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Logz\SQL\TravelEdgeSQL.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value=" DB " />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %identity %-5level - %message %exception%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <logger name="Verbose" additivity="false">
      <level value="WARN" />
    </logger>
    <!-- The following is for requests that make it's way to the UI with errors or the potential to have a support
    ticket attached, be it business or otherwise. -->
    <logger name="ErrorRequests" additivity="false">
      <level value="WARN" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="RequestErrorsSmtpAppender" />
    </logger>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="SQLLogAppender" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="ElasticSearchAppender" />
    </root>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="adx.sysadmin@traveledge.com" />
      <from value="noreply@traveledge.com" />
      <subject value="LOCAL : Error - API" />
      <smtpHost value="localhost" />
      <port value="52525" />
      <authentication value="Basic" />
      <username value="" />
      <password value="" />
      <EnableSsl value="false" />
      <bufferSize value="10" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %identity %-5level - %message %exception%newline" />
      </layout>
      <Fix value="0" />
      <!-- Set Fix flag to NONE, http://stackoverflow.com/questions/11319319/log4net-bufferingforwardingappender-performance-issue -->
    </appender>
    <appender name="RequestErrorsSmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="adx.sysadmin@traveledge.com" />
      <from value="noreply@traveledge.com" />
      <subject value="LOCAL : Request Error - API" />
      <smtpHost value="localhost" />
      <port value="52525" />
      <authentication value="Basic" />
      <bufferSize value="0" />
      <username value="" />
      <password value="" />
      <EnableSsl value="false" />
      <lossy value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %identity %-5level - %message %exception%newline" />
      </layout>
      <Fix value="0" />
      <!-- Set Fix flag to NONE, http://stackoverflow.com/questions/11319319/log4net-bufferingforwardingappender-performance-issue -->
    </appender>
    <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>

      <!-- You can also use scheme, user, password here if you need https and http authentication, see the docs -->
      <connectionString value="Server=localhost;Index=logapi_dev_v123;Port=9200;rolling=true" />

      <!-- false means do not eject older messages when the buffer is full, try to keep them all. -->
      <lossy value="false" />

      <!-- Any buffer > 1 will use the Elasticsearch _bulk API. Tune as needed depending on how high volume your app is and how fast you want messages to show up in ES -->
      <bufferSize value="100" />

      <!-- When an event comes in that matches or is above the treshold, the buffer will flush. I don't reccommend setting to "ALL" or it will defeat the purpose of having a buffer -->
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="DEBUG" />
      </evaluator>
      <Fix value="0" />
      <!-- Set Fix flag to NONE, know performance issue with log4net -->
    </appender>
  </log4net>
  <system.web>
    <!--<customErrors mode="On"></customErrors>-->
    <compilation targetFramework="4.5.2" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>      
      <!--<dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHotelFlow" maxReceivedMessageSize="2097152" maxBufferSize="2097152" maxBufferPoolSize="2097152" />
        <binding name="IIS_DestinationHosting" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://demo-hotelws.touricoholidays.com/HotelFlow.svc/bas" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelFlow" contract="TouricoHotelSvc.IHotelFlow" name="BasicHttpBinding_IHotelFlow" />
      <endpoint address="http://destservices.touricoholidays.com/DestinationsService.svc" binding="basicHttpBinding" bindingConfiguration="IIS_DestinationHosting" contract="TouricoHotelReservationSvc.ReservationsServiceSoap" name="IIS_DestinationHosting" />
    </client>    
  </system.serviceModel>

  <location path="." inheritInChildApplications="false">
 
  
  </location>
</configuration>