@model Common.hotelflowSvc.ResGroup

@{
    ViewBag.Title = "Hotel Booking - Tourico Confirmation";
}
<h1>Your booking was successful - Tourico </h1>

<br />

<h1>Thank you for your booking, you will receive an email confirming your booking.</h1>

<br />

<h1>Your Transaction number  @Model.tranNum</h1>

