@model Common.Sabre.Hotels.EndTransaction.EndTransactionRS

@{
    ViewBag.Title = "Hotel Booking";
}
<h1>Your booking was successful</h1>

<br />

<h1>Thank you for your booking, you will receive an email confirming your booking.</h1>

<br />

<h1>Your PNR number is @Model.ItineraryRef.ID</h1>

