<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHotelFlow" />
        <binding name="ReservationsServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://demo-hotelws.touricoholidays.com/HotelFlow.svc/bas"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelFlow"
          contract="TouricoHotelSvc.IHotelFlow" name="BasicHttpBinding_IHotelFlow" />
      <endpoint address="http://demo-wsnew.touricoholidays.com/ReservationsService.asmx"
          binding="basicHttpBinding" bindingConfiguration="ReservationsServiceSoap"
          contract="TouricoHotelReservationSvc.ReservationsServiceSoap"
          name="ReservationsServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>