<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHotelFlow" />
                <binding name="IIS_DestinationHosting" />
                <binding name="BasicHttpBinding_ICarService"  />
                <binding name="BasicHttpBinding_IActivityBookFlow"  maxReceivedMessageSize="2097152" maxBufferPoolSize="2097152" maxBufferSize="2097152"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://demo-hotelws.touricoholidays.com/HotelFlow.svc/bas"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelFlow"
                contract="hotelflowSvc.IHotelFlow" name="BasicHttpBinding_IHotelFlow" />
            <endpoint address="http://destservices.touricoholidays.com/DestinationsService.svc"
                binding="basicHttpBinding" bindingConfiguration="IIS_DestinationHosting"
                contract="hotelDestSvc.IDestinationContracts" name="IIS_DestinationHosting" />
            <endpoint address="http://demo-carws.touricoholidays.com/CarWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarService"
                contract="carFlowSvc.ICarService" name="BasicHttpBinding_ICarService" />
            <endpoint address="http://demo-activityws.touricoholidays.com/ActivityBookFlow.svc/bas"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityBookFlow"
                contract="Tourflowsvc.IActivityBookFlow" name="BasicHttpBinding_IActivityBookFlow" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Common.Properties.Settings>
            <setting name="Common_Sabre_Hotels_Search_OTA_HotelAvailService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="Common_Sabre_Hotels_Reservation_OTA_HotelResService"
                serializeAs="String">
                <value>https://sws-crt.cert.sabre.com/</value>
            </setting>
            <setting name="Common_Sabre_Hotels_RateDetails_HotelRateDescriptionService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="Common_Sabre_Hotels_PropertyDetails_HotelPropertyDescriptionService"
                serializeAs="String">
                <value>https://sws-crt.cert.sabre.com/</value>
            </setting>
            <setting name="Common_Sabre_Hotels_ModifyReservation_HotelResModifyService"
                serializeAs="String">
                <value>https://sws-crt.cert.sabre.com/</value>
            </setting>
            <setting name="Common_Sabre_Hotels_CreateSession_SessionCreateRQService"
                serializeAs="String">
                <value>https://webservices.sabre.com</value>
            </setting>
            <setting name="Common_Sabre_Hotels_CloseSession_SessionCloseRQService"
                serializeAs="String">
                <value>https://webservices.sabre.com</value>
            </setting>
            <setting name="Common_Sabre_Hotels_TravelItineraryAddInfo_TravelItineraryAddInfoService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
            <setting name="Common_Sabre_Hotels_TravelItineraryReadInfo_TravelItineraryReadService"
                serializeAs="String">
                <value>https://webservices.sabre.com</value>
            </setting>
            <setting name="Common_Sabre_Hotels_EndTransaction_EndTransactionService"
                serializeAs="String">
                <value>https://webservices.sabre.com/websvc</value>
            </setting>
        </Common.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
