<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Common.Properties.Settings>
            <setting name="Common_Sabre_Hotels_Search_OTA_HotelAvailService"
                serializeAs="String">
                <value>https://sws-crt.cert.sabre.com/websvc</value>
            </setting>
            <setting name="Common_Sabre_Hotels_Reservation_OTA_HotelResService"
                serializeAs="String">
                <value>https://sws-crt.cert.sabre.com/</value>
            </setting>
            <setting name="Common_Sabre_Hotels_RateDetails_HotelRateDescriptionService"
                serializeAs="String">
                <value>https://sws-crt.cert.sabre.com/</value>
            </setting>
            <setting name="Common_Sabre_Hotels_PropertyDetails_HotelPropertyDescriptionService"
                serializeAs="String">
                <value>https://sws-crt.cert.sabre.com/</value>
            </setting>
            <setting name="Common_Sabre_Hotels_ModifyReservation_HotelResModifyService"
                serializeAs="String">
                <value>https://sws-crt.cert.sabre.com/</value>
            </setting>
            <setting name="Common_Sabre_Hotels_CreateSession_SessionCreateRQService"
                serializeAs="String">
                <value>https://sws-crt.cert.sabre.com/</value>
            </setting>
            <setting name="Common_Sabre_Hotels_CloseSession_SessionCloseRQService"
                serializeAs="String">
                <value>https://sws-crt.cert.sabre.com/</value>
            </setting>
        </Common.Properties.Settings>
    </applicationSettings>
</configuration>