@{
    ViewBag.Title = "Hotel Search";
}

@section featured {
    @using (Html.BeginForm("SearchHotel", "Home"))
    {
        <section class="featured" style="font-size:12px;">

            <div class="content-wrapper">
                <table style="width:100%">
                    <tr>
                        <td>
                            <hgroup style="font-size:20px;">
                                <h2>Book Domestic & International Hotels</h2>
                            </hgroup>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Find best deals across million of hotels across globe
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="ddlLocation">Select Address</label>
                                <select id="ddlLocation" name="ddlLocation" style="height:50px; font-size:18px;width:715px;">
                                    <option value="DFW">Dallas Fort Worth International</option>
                                    <option value="ATL">Hartsfield Jackson Atlanta International</option>
                                    <option value="ORD">Chicago O'Hare International</option>
                                    <option value="LAX">Los Angeles International</option>
                                    <option value="SFO">San Francisco International</option>
                                    <option value="LAS">Las Vegas</option>
                                    <option value="IAH">Houston</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%">
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="datetimepickerCheckIn">Check In</label>
                                            <div style="padding-left:0px;">
                                                <input type="date" name="checkIn" style="height:50px; font-size:18px;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="datetimepickerCheckOut">Check Out</label>
                                            <div  style="padding-left:0px;">
                                                <input type="date" name="checkOut" style="height:50px; font-size:18px;">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="ddlTotalGuest">No of Guest</label>
                                            <select id="ddlTotalGuest" name="ddlTotalGuest" style="height:50px; font-size:18px;width:300px">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="ddlNoOfRooms">No of Rooms</label>
                                            <select id="ddlNoOfRooms" name="ddlNoOfRooms" style="height:50px; font-size:18px;width:300px">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="right" style="padding-right:110px;">
                                        <button type="submit" class="btn btn-warning" style="width:100px;height:50px;">Search</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%">
                            <table style="width:100%">
                               
                            </table>
                        </td>

                    </tr>
                </table>
            </div>
        </section>
    }
}
