@{
    ViewBag.Title = "Hotel Search";
}



@section featured {
    @using (Html.BeginForm())
    {
        <section class="featured" style="font-size:12px;">
            
            <div class="content-wrapper">
                
                <table style="width:100%">
                    <tr>
                        <td>
                            <hgroup style="font-size:20px;">
                                <h2>Book Domestic & International Hotels</h2>
                            </hgroup>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Find best deals across million of hotels across globe
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="place-input">Address</label>
                                @*<select id="ddlLocation" name="ddlLocation" style="height:50px; font-size:18px;width:715px;">
                                        <option value="DFW">Dallas Fort Worth International</option>
                                        <option value="ATL">Hartsfield Jackson Atlanta International</option>
                                        <option value="ORD">Chicago O'Hare International</option>
                                        <option value="LAX">Los Angeles International</option>
                                        <option value="SFO">San Francisco International</option>
                                        <option value="LAS">Las Vegas</option>
                                        <option value="IAH">Houston</option>
                                    </select> <br />*@
                                <input id="place-input" class="form-control" type="text" placeholder="Type a location" style="height:50px; font-size:18px;width:715px;">
                                <input type="hidden" name="lat" id="lat" />
                                <input type="hidden" name="lan" id="lan" />
                                <input type="hidden" name="add" id="add" />
                            </div>
                        </td>
                    </tr>
                    @*<tr>
                        <td>
                            <div class="form-group">
                                <label for="place-input">Hotels</label>
                                <div style="padding-left:0px;">
                                    <input class="form-control" type="text" value="@ViewBag.hotelCodes" id="hotelcodes" name="hotelcodes" style="height:50px; width:300px; font-size:18px;">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="ddlProvider">Provider</label>
                                <div style="padding-left:0px;">
                                    <select id="ddlProvider" class="form-control" name="ddlProvider" style="height:50px; width:310px; font-size:18px;width:300px">
                                        <option value="Sabre">Sabre</option>
                                        <option value="HotelBeds">Hotel Beds</option>
                                        <option value="Turico">Turico</option>
                                        <option value="ALL">ALL Providers</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>*@
                    <tr>
                        <td width="100%">
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="place-input">Hotels</label>
                                            <div style="padding-left:0px;">
                                                <input class="form-control" type="text" value="@ViewBag.hotelCodes" placeholder="Type Hotel Codes" id="hotelcodes" name="hotelcodes" style="height:50px; width:300px; font-size:18px;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="ddlProvider">Provider</label>
                                            <div style="padding-left:0px;">
                                                <select id="ddlProvider" class="form-control" name="ddlProvider" style="height:50px; width:310px; font-size:18px;width:300px">
                                                    <option value="HotelBeds">Hotel Beds</option>
                                                    <option value="Sabre">Sabre</option>
                                                    <option value="Turico">Turico</option>
                                                    <option value="ALL">ALL Providers</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="datetimepickerCheckIn">Check In</label>
                                            <div style="padding-left:0px;">
                                                <input class="form-control" type="date" value="@DateTime.Now.AddDays(2).ToShortDateString()" id="checkIn" name="checkIn" style="height:50px; width:300px; font-size:18px;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="datetimepickerCheckOut">Check Out</label>
                                            <div style="padding-left:0px;">
                                                <input class="form-control" type="date" id="checkOut"  name="checkOut" value="@DateTime.Now.AddDays(5)" style="height:50px; width:300px;font-size:18px;">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="ddlTotalGuest">No of Guest</label>
                                            <select id="ddlTotalGuest" class="form-control" name="ddlTotalGuest" style="height:50px;  font-size:18px;width:300px">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="ddlNoOfRooms">No of Rooms</label>
                                            <select id="ddlNoOfRooms" class="form-control" name="ddlNoOfRooms" style="height:50px; width:310px; font-size:18px;width:300px">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    
                                    <td colspan="3" align="right" style="padding-right:110px;">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-warning" name="action:bedbank" style="width:150px;height:50px;">Search</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="right" style="padding-right:110px;">
                                        @*<button type="submit" class="btn btn-warning" name="action:sebre" style="width:150px;height:50px;">Sabre Search</button>
                                            <button type="submit" class="btn btn-warning" name="action:bedbank" style="width:150px;height:50px;">Bed Bank Search</button>
                                            <button type="submit" class="btn btn-warning" style="width:150px;height:50px;" value="Tourico Search" name="action:Tourico">Tourico</button>*@

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%">
                            <table style="width:100%"></table>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    }
}

<script src="http://maps.google.com/maps/api/js?libraries=places"></script>
<script type="text/javascript">
    var input = $('#place-input');

    var autocomplete = new google.maps.places.Autocomplete(input[0]);

    autocomplete.addListener('place_changed', function () {
        var place = autocomplete.getPlace();
        console.log(place);
        if (!place.geometry) {
            window.alert("Information not returned by google.");
            return;
        }
        else {
            $('#lat').val(place.geometry.location.lat());
            $('#lan').val(place.geometry.location.lng());
            //$('#add').val(place.formatted_address);
        }
        return false;
    }
);
    $('#place-input').keypress(function (e) {
        if (e.keyCode == 13) {
            return false;
        }
    });



</script>
