@{
    ViewBag.Title = "Hotel Search";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               Search criteria
            </p>
        </div>
    </section>
}

<div>
    @Html.ActionLink("Get Session", "CreateSession", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })
   
</div>
